<!DOCTYPE html>
<html>

<head>
  <title>
    快肯系統整合股份有限公司
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="web_body">

  <div id="web_logo">
    <div class="logo">
      <img src="images/logo.png" width="280" height="50">
    </div>
    <div id="logo_right">
      <span class="logo_right_span_text" style="cursor: pointer;" onclick="window.location.href='';">HOME</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span_text" style="cursor: pointer;">ENGLISH</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span_text" style="cursor: pointer;">简体中文</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span_text" style="cursor: pointer;">Việt</span>
      <br>
      <span id="logo_phone_span">客戶免付費電話</span>
      <span id="logo_phone_number">0800-375988</span>
    </div>
  </div>

  <div id="logo_menu">
    <table height="41" cellspacing="0" cellpadding="0" id="menu_table" cellpadding>
      <tbody>
        <tr>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button">
              <span class="menu_table_chinese">公司簡介</span>
              <br>
              <span class="menu_table_english">Company</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button">
              <span class="menu_table_chinese">服務項目</span>
              <br>
              <span class="menu_table_english">Services</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button">
              <span class="menu_table_chinese">工程實績</span>
              <br>
              <span class="menu_table_english">Project</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button">
              <span class="menu_table_chinese">最新消息</span>
              <br>
              <span class="menu_table_english">Hot News</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button">
              <span class="menu_table_chinese">產品設備</span>
              <br>
              <span class="menu_table_english">Products</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button">
              <span class="menu_table_chinese">員工專區</span>
              <br>
              <span class="menu_table_english">Employee</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button">
              <span class="menu_table_chinese">聯絡我們</span>
              <br>
              <span class="menu_table_english">Contract Us</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="body_middle">
    <div class="slider_container">
      <div>
        <img src="images/p2.jpg" alt="pure css3 slider" />
      </div>
      <div>
        <img src="images/p1.jpg" alt="pure css3 slider" />
      </div>
    </div>
  </div>

  <div id="bg_main">
    <div id="bg_main_left">
      <img src="images/ind_company.jpg" width="285" height="20">
      <img src="images/map.jpg">
    </div>
    <div id="bg_amin_middle">
      <img src="images/ind_newpro.jpg">
      <table width="270" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td height="55"><img src="images/logo4.jpg"></td>
            <td><img src="images/logo8.jpg"></td>
          </tr>
          <tr>
            <td align="center"><img src="images/logo7.jpg"></td>
            <td><img src="images/logo2.jpg"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="bg_amin_right">
      <img src="images/ind_news.jpg">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td width="22" class="td_02"><img src="images/ind_news_point.jpg"></td>
            <td width="218" align="left" class="td_01"><a href="" title="什麼是動態範圍？"
                class="bg_amin_right_text">什麼是動態範圍？...</a></td>
            <td width="70" class="td_02">
              <font class="c_gray01 f10px">2014-06-20</font>
            </td>
          </tr>
          <tr>
            <td width="22" class="td_02"><img src="images/ind_news_point.jpg"></td>
            <td width="218" align="left" class="td_01"><a href=""
                title="KABA Access Maganer MIFARE 門禁控制系統 - 多方式系統擴展設計 線上/離線應用靈活" class="bg_amin_right_text">KABA Access
                ...</a></td>
            <td width="70" class="td_02">
              <font class="c_gray01 f10px">2014-05-19</font>
            </td>
          </tr>
          <tr>
            <td width="22" class="td_02"><img src="images/ind_news_point.jpg"></td>
            <td width="218" align="left" class="td_01"><a href="" title="影像解析度" class="bg_amin_right_text">影像解析度...</a>
            </td>
            <td width="70" class="td_02">
              <font class="c_gray01 f10px">2013-08-23</font>
            </td>
          </tr>
          <tr>
            <td width="22" class="td_02"><img src="images/ind_news_point.jpg"></td>
            <td width="218" align="left" class="td_01"><a href="" title="什麼是QCIF/ CIF/4CIF/ /D1? +  DVR 錄影時間計算"
                class="bg_amin_right_text">什麼是QCIF/ CIF...</a></td>
            <td width="70" class="td_02">
              <font class="c_gray01 f10px">2013-08-22</font>
            </td>
          </tr>
          <tr>
            <td width="22" class="td_02"><img src="images/ind_news_point.jpg"></td>
            <td width="218" align="left" class="td_01"><a href="" title="類比訊號 與 數位訊號" class="bg_amin_right_text">類比訊號 與
                數位訊號...</a></td>
            <td width="70" class="td_02">
              <font class="c_gray01 f10px">2013-08-22</font>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="YT" width="560" height="315">
    <iframe width="560" height="315" allow="encrypted-media" allowfullscreen="" frameborder="0" gesture="media"
      scrolling="no"
      src="https://www.youtube.com/embed/7jwg__gDo-k?autoplay=1&amp;modestbranding=1&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;autohide=0&amp;VQ=HD720&amp;rel=0&amp;mute=1"
      title="二延平步道即時影像"></iframe>
  </div>

  <div id="Copyright">
    <div class="copy">
      <p style="font-size: 12px; color: #999;">Copyright © 2014 快肯系統整合股份有限公司</p>
    </div>
  </div>

</body>

</html>