<!DOCTYPE html>
<html>

<head>
  <title>
    快肯系統整合股份有限公司
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="web_logo">
    <div class="logo pointer" onclick="window.location.href='';">
      <img src="images/logo.png" width="280" height="50">
    </div>
    <div class="logo_right">
      <span class="logo_right_span hyperlink_underline pointer" style="cursor: pointer;"
        onclick="window.location.href='';">HOME</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span hyperlink_underline pointer" style="cursor: pointer;">ENGLISH</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span hyperlink_underline pointer" style="cursor: pointer;">简体中文</span>
      <span class="logo_right_span"> / </span>
      <span class="logo_right_span hyperlink_underline pointer" style="cursor: pointer;">Việt</span>
      <br>
      <span class="logo_phone_span">客戶免付費電話</span>
      <span class="logo_phone_number">0800-375988</span>
    </div>
  </div>

  <div class="logo_menu">
    <table height="41" cellspacing="0" cellpadding="0" class="menu_table" cellpadding>
      <tbody>
        <tr>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button pointer" onclick="javascript:location.href='company'">
              <span class="menu_table_chinese">公司簡介</span>
              <br>
              <span class="menu_table_english">Company</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">服務項目</span>
              <br>
              <span class="menu_table_english">Services</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">工程實績</span>
              <br>
              <span class="menu_table_english">Project</span>
            </div>
          </td>
          <td align='center' valign="middle" width="141">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">最新消息</span>
              <br>
              <span class="menu_table_english">Hot News</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">產品設備</span>
              <br>
              <span class="menu_table_english">Products</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">員工專區</span>
              <br>
              <span class="menu_table_english">Employee</span>
            </div>
          </td>
          <td align='center' valign="middle" width="142">
            <div class="menu_table_button pointer">
              <span class="menu_table_chinese">聯絡我們</span>
              <br>
              <span class="menu_table_english">Contract Us</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bg_gray">
    <div class="body_middle">
      <div class="slider_container">
        <div>
          <img src="images/p2.jpg" alt="pure css3 slider" />
        </div>
        <div>
          <img src="images/p1.jpg" alt="pure css3 slider" />
        </div>
      </div>

      <div class="index_md_shaddle">

      </div>

      <div class="index_main">
        <div class="index_main_left">
          <img src="images/ind_company.jpg">
          <img src="images/map.jpg">
        </div>
        <div class="index_main_middle">
          <img src="images/ind_newpro.jpg">
          <div class="index_main_middle_imageset">
            <img src="images/logo4.jpg">
            <img src="images/logo8.jpg">
            <img src="images/logo7.jpg">
            <img src="images/logo2.jpg">
          </div>
        </div>
        <div class="index_main_right">
          <img src="images/ind_news.jpg">
          <div>
            <div class="index_main_right_set">
              <img src="images/ind_news_point.jpg">
              <a href="" title="什麼是動態範圍？">什麼是動態範圍？...</a>
              <a>2014-06-20</a>
            </div>
            <div class="index_main_right_set">
              <img src="images/ind_news_point.jpg">
              <a href="" title="KABA Access Maganer MIFARE 門禁控制系統 - 多方式系統擴展設計 線上/離線應用靈活">KABA Access
                ...</a>
              <a>2014-05-19</a>
            </div>
            <div class="index_main_right_set">
              <img src="images/ind_news_point.jpg">
              <a href="" title="影像解析度">影像解析度...</a>
              <a>2013-08-23</a>
            </div>
            <div class="index_main_right_set">
              <img src="images/ind_news_point.jpg">
              <a href="" title="什麼是QCIF/ CIF/4CIF/ /D1? +  DVR 錄影時間計算">什麼是QCIF/ CIF...</a>
              <a>2013-08-22</a>
            </div>
            <div class="index_main_right_set"> 
              <img src="images/ind_news_point.jpg">
              <a href="" title="類比訊號 與 數位訊號">類比訊號 與 數位訊號...</a>
              <a>2013-08-22</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Copyright">
    <div class="copy">
      <p style="font-size: 12px; color: #999;">Copyright © 2014 快肯系統整合股份有限公司</p>
    </div>
  </div>

</body>

</html>