<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="web_body">

  <div id="web_logo" style="width:970px;">
    <div class="logo">
      <img src="images/logo.png" width="280" height="50">
    </div>
    <div class="phone">
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' onclick="window.location.href='/index';">HOME</span>
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' >  /  </span>
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' onclick="window.location.href='/index';">ENGLISH</span>
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' >  /  </span>
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' onclick="window.location.href='/index';">简体中文</span>
      <span style='line-height: 30px;font-size:12px; color:#878787; margin-right: 6px;' >  /  </span>
      <span style='line-height: 30px;font-size:12px; color:#878787' onclick="window.location.href='/index';">Việt</span>
      <br>
      <span style="color: #6E6E6E;font-family: 'Noto Sans TC', sans-serif; font-weight:900;">客戶免付費電話</span>
      <span id="logo_phone">0800-000123</span>
    </div>
  </div>

  <div class="top_menu">
    <table width="990" height="41" cellspacing="0" cellpadding="0" class="topmenu_table">
      <tbody>
        <tr>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white; padding-top: 2000px;">公司簡介</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Company</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">服務項目</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Services</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">工程實績</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Project</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">最新消息</span>
            <br>
            <span style="font-size: 1px; color: #D9D9D9;opacity: 0.5;">Hot News</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">產品設備</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Products</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">員工專區</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Employee</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 16px; color: white;">聯絡我們</span>
            <br>
            <span style="font-size: 2px; color: #D9D9D9;opacity: 0.5;">Contract Us</span>
          </td>
        </tr>
        <!--<tr>
          <td align='center' valign="middle">

          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Services</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Project</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Hot News</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Products</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Employee</span>
          </td>
          <td align='center' valign="middle">
            <span style="font-size: 3px; color: #D9D9D9;opacity: 0.5;">Contract Us</span>
          </td>
        </tr>-->
      </tbody>
    </table>
  </div>

</body>

</html>