body {
  margin: 0px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

/* logo */

.image_align_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.web_logo {
  width: 985px;
  height: 55px;
  text-align: right;
  vertical-align:middle;
  font-size:14px;
  margin: 0 auto;
  margin-top: 7px;
  padding-bottom: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#E8E8E8+0,ffffff+70 */
  background: #E8E8E8; /* Old browsers */
  background: -moz-linear-gradient(top,  #E8E8E8 0%, #ffffff 30%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(30%,#ffffff)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top,  #E8E8E8 0%,#ffffff 30%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top,  #E8E8E8 0%,#ffffff 30%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top,  #E8E8E8 0%,#ffffff 53%); /* IE10 preview */
  background: linear-gradient(to bottom,  #E8E8E8 0%,#ffffff 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  box-shadow:1px 3px 6px gray;
}

.logo {
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}

.pointer{
  cursor: pointer;
}

.logo_right {
  vertical-align:text-top; 
  float: left;
  height: 60px;
  margin-left: 450px;
  margin-top: 5px;
}

.logo_right_span{
  line-height: 30px;
  font-size:12px; 
  color:#878787;
  margin-right: 5px;
}

.hyperlink_underline{
  text-decoration: none;
}

.hyperlink_underline:hover{
  text-decoration:underline;
}

.logo_phone_span{
  color: #6E6E6E;
  font-family: 'Noto Sans TC', sans-serif; 
  font-weight:900;
}

.logo_phone_number {
  color: red;
  font-size: 14px;
  font-weight:700;
}

.logo_menu{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#E60000+0,b20000+100 */
  background: #D10000; /* Old browsers */
  background: -moz-linear-gradient(top, #E60000 0%, #8F0000	 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E60000), color-stop(100%,#8F0000)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #E60000 0%,#8F0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #E60000 0%,#8F0000 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #E60000 0%,#8F0000 100%); /* IE10 preview */
  background: linear-gradient(to bottom, #E60000 0%,#8F0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60000', endColorstr='#8F0000',GradientType=0 ); /* IE6-9 */
}

.menu_table{
  width: 990px;
  margin: 0 auto;
}

.menu_table_button{
  width: 87px;
  height: 33px;
  margin: 0 auto;
  padding-top: 8px;
  line-height: 15px;
}

.menu_table_button:hover{
  background-color:	#F00000;
}

.menu_table_chinese{
  font-size: 16px;
  color: white;
}

.menu_table_english{
  font-size: 10px;
  color: #D9D9D9;
  opacity: 0.5;
  text-align: right;
  margin-left: 7px;
}

/* index */

.bg_gray{
  background: linear-gradient(to bottom, #E8E8E8 167px, #ffffff 167px);
}

.body_middle{
  width: 985px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-width: 0 5px 0 5px;
  border-image: linear-gradient(to top, #D54565 0%, #6A0B23 100%);
  border-image-slice: 1;
  box-shadow:1px 0px 6px 0px gray;
}

.slider_container {
  overflow:hidden;
  width: 985px;
  height: 355px;
  position: relative;
  background-color: #f5f5f5;
  margin: 0 auto;
  
}

.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.slider_container div {
  -webkit-animation: round 10s linear infinite;
          animation: round 10s linear infinite;
}

@-webkit-keyframes round {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 100%;
    /* 0 - 1秒 滑入*/
  }
  5% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 0 - 1秒 滑入*/
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 1- 5秒靜止*/
  }
  55% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: -100%;
    /* 5-6秒滑出*/
  }
  65% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 6-6.5秒變透明*/
  }
  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 100%;
    /* 6.5-7秒回到起始位置*/
  }
}

@keyframes round {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 100%;
    /* 0 - 1秒 滑入*/
  }
  5% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 0 - 1秒 滑入*/
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 1- 5秒靜止*/
  }
  55% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: -100%;
    /* 5-6秒滑出*/
  }
  65% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 6-6.5秒變透明*/
  }
  70% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 100%;
    /* 6.5-7秒回到起始位置*/
  }
}

.slider_container div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slider_container div:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slider_container:hover div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slider_container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100%;
  height: 100%;
  background-image: url(images/p1.jpg);
  animation: bk 10s linear;
}

@-webkit-keyframes bk {
  0% {
      opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 初始位置*/
  }
  10% {
      opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 0 - 1秒 滑出*/
  }   
}
@keyframes bk {
  0% {
      opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 初始位置*/
  }
  10% {
      opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 0 - 1秒 滑出*/
  }  
}

.index_md_shaddle{
  height: 30px;
  background:radial-gradient(ellipse 70% 80% at top,#E3E3E3 3%,white 100%)
}

.index_main{
  position: relative;
  width: 985px;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  height: 168px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0px;
}

.index_main_left{
  margin-left: 33px;
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.index_main_middle{
  margin-left: 38px;
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.index_main_middle_imageset{
  width: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6px;
  justify-content: center
}

.index_main_middle_imageset > img{
  margin-right: 12px;
  margin-bottom: 6px;
}

.index_main_middle_imageset > img:nth-of-type(3){
  margin-right: 7px;
}

.index_main_right{
  margin-left: 40px;
  width: 281px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.index_main_right_set{
  height: 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index_main_right_set > img{
  width: 32px;
  border-bottom: 1px solid #dedede;
  float: left;
}

.index_main_right_set > a:nth-of-type(1){
  width: 186px;
  border-bottom: 1px solid #f0f0f0;
  float: left;
  line-height: 27px;
  height: 27px;
  text-decoration:none;
  color: #777777;
  font-size: 16px;
}

.index_main_right_set > a:nth-of-type(1):hover{
  color: #306397;
  text-decoration: underline;
}

.index_main_right_set > a:nth-of-type(2){
  width: 63px;
  border-bottom: 1px solid #dedede;
  float: left;
  line-height: 26px;
  color: #c9c8c8;
  font-size: 12px;
  text-align: right;
}

/* web_left */

.top_image{
  margin: 0 auto;
  width: 987px;
}

.main_content{
  margin: 0 auto;
  width: 985px;
  margin-top: 90px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_left{
  float: left;
}

.menu_image{
  width: 232px;
  height: 50px;
}

.main_menu{
  width: 195px;
  margin: 5px 20px 10px 20px;
}

.menu_list{
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: #939699;
  width: 175px;
  height: 27px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  line-height: 30px;
}

.menu_list > img{
  margin: 5px 10px 0 0;
}

.menu_list > a{
  color: gray;
  font-size: 13px;
  text-decoration: none;
  bottom:0px;
  margin-top: 5px;
}

.on_this{
  background: #A80000;
}

.on_this > a{
  color: white;
}

.menu_view{
  margin-top: 15px;
}

/*web_right*/

.main_right{
  float: left;
  width: 628px;
  height: 30px;
  padding: 0px 20px 0px 10px;
}

.tittle > a{
  border: 1px solid transparent;
  border-width: 0 0 0 6px;
  border-image: linear-gradient(to top, #D54565 0%, #6A0B23 100%);
  border-image-slice: 1;
}

/*Copyright*/

.Copyright {
  float: left;
  background-color: #f0f0f1;
  width: 100%;
}

.copy {
  width: 950px;
  text-align: center;
  line-height: 22px;
  margin: 0 auto;
}